<header>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/auth/log-in">Login</a>
        </li>
        <li>
            <a href="/auth/sign-up">Sign-up</a>
        </li>
    </ul>
</header>