<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <link rel="stylesheet" type="text/css" href="/styleSheet/style.css">
</head>
<body>
  <%- include('header'); -%>
  <main>
    <% if (user) {%>
      <h1>WELCOME <%= user.username %></h1>
      <a class="btn-style" href="/posts">See Posts</a><br>
    <% } else { %>
      <h1>See messages written by peoples from around the world : </h1>
      <a class="btn-style" href="/posts">See all Posts</a>
    <%}%>
  </main>
  <%- include('footer'); -%>
</body>
</html>


