<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <%- include('header'); -%>
  <% if (user) {%>
    <h1>WELCOME <%= user.username %></h1>
    <a href="/posts">See Posts</a><br>
  <% } else { %>
    <a href="/posts">See all Posts</a>
  <%}%>
  <%- include('footer'); -%>
</body>
</html>
