<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="/auth/sign-up" method="POST">
    <label for="username">Username</label>
    <input name="username" placeholder="username" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <label for="member">Member ?</label>
    <input name="member" placeholder="member" type="checkbox" />
    <button>Sign Up</button>
  </form>
</body>
</html>
